<!DOCTYPE html>
<html lang="ko">

<head>
<title>{% block title %}Change My Life{% endblock %}</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/base.css" %}{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />

</head>

<body>

<div class="top_nav">
    <div>If you change your life, Use this app!</div>

    {% if user.is_active %}
    <div>Welcome!</div>
    <div><a href="{% url 'post:my_post'%}">My TodoList</a></div>
    <div><a href="{% url 'user_list' %}">사용자들</a></div>
    <div><a href="{% url 'password_change' %}">Change-Password</a></div>
    <div><a href="{% url 'logout' %}">Log-out</a></div>
    {% else %}
    <div><a href="{% url 'user_list' %}">사용자들</a></div>
    <div><a href="{% url 'register' %}">Sign-up</a></div>
    <div><a href="{% url 'login' %}">Log-in</a></div>
    {% endif %}
</div>


{% block content %}{% endblock %}

{% block footer %}{% endblock %}

</body>
</html>
